.wrap {
  .wrapper {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    padding-right: 297px;
    // padding-left: 297px;
    button {
      //  position: absolute;

      display: flex;
      justify-content: center;
      width: 211px;
      height: 54px;
      left: 299px;
      top: 459px;

      background: #8276ff;
      border-radius: 31.0938px;

      cursor: pointer;
      .h4 {
        width: 131px;
        height: 25px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
  }
}
