.wrap {
 // overflow: hidden;
  .wrapper {
    button {
      display: flex;
      justify-content: center;
      width: 211px;
      height: 54px;

      background: #8276ff;
      border-radius: 31.0938px;

      cursor: pointer;

      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.02em;
      color: #ffffff !important;
    }
  }
}
